* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A3C3A1;
}
form {
    background-color: #D4D1CD;
    margin: 5% 20%;
    padding: 1%;
}
li{
    list-style: none;
}
.hide{
    display:none;
}
.header {
    margin: 3rem;
    text-align: center;
}
fieldset{
   padding: 1rem;

}
    .basic-info label, .basic-info input, .basic-info select, .basic-info option {
        display: grid;
        grid-template-columns: 1fr;
        padding: .5rem;
        margin: 0 auto;
        width: 95%;
    }

.tshirts label, .tshirts select, .tshirts option {
    display: grid;
    grid-template-columns: 1fr;
    padding: .5rem;
    margin: 0;
    width: 100%;
}
.tshirts ul{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 ;
    padding: 0;
    grid-gap: 1rem;
}
.tshirts{
    padding: 2rem;
    padding-left: .5rem;
}
.payment-info{
    display: grid;
    grid-template-columns: 1fr;
}

ul.card-info {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    grid-gap: 1rem;
}
.card-info li, .card-info input, .card-info label{
display: grid;
grid-template-columns: 1fr;
width: 100%;
}


.activities{
    display: grid;
    grid-template-columns: 1fr;
}
.error-msg {
    display: none;
    background: red;
    color: white;
    padding: 1rem;
    margin: 1rem;
}
@media screen and (min-width: 768px){
    .tshirts ul {
       
        grid-template-columns: 12.5% 33% 50%;
     
    }

    ul.card-info {
      
        grid-template-columns: 50% 20% 20%;
         }
}